.form[b-jjbheokdsw] {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.form input[b-jjbheokdsw]{
    padding: 0;
}
.form button[b-jjbheokdsw] {
    width: 40%;
    height: 50%;
    font-size: 1.5rem;
    color: var(--main-font-color);
    margin-top: 1rem;
    border: none;
    background: var(--purple-main);
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: var(--main-font);
}

.tittle[b-jjbheokdsw]{
    color: var(--main-font-color);
    font-family: var(--main-font);
}
.form > h3[b-jjbheokdsw]{
    height: 10%;
}

.form > button[b-jjbheokdsw]{
    height: 10%;
}

.form > div[b-jjbheokdsw]{
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form > div > div[b-jjbheokdsw]{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form > div > div input[b-jjbheokdsw], .form > div > div select[b-jjbheokdsw]{
    width: 60%;
    padding: 10px;
}


.user-box[b-jjbheokdsw] {
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-box input[b-jjbheokdsw] {
    width: 40%;
    height: 25%;
    font-size: 1rem;
    color: var(--main-font-color);
    margin-top: 1rem;
    border: none;
    background: var(--purple-light);
}

select[b-jjbheokdsw] {
    width: 40%;
    height: 2rem;
    font-size: 1rem;
    color: var(--main-font-color);
    margin-top: 1rem;
    border: none;
    border-radius: 0.5rem;
    background: var(--purple-light);
}

.user-box input[b-jjbheokdsw]::placeholder {
    color: var(--secondary-font-color);
    font-family: var(--main-font);
}