@page "/menu"

<div class="menu-page">
    <div class="top-buttons">
    @if (tab == 1)
    {
        <button @onclick="MenuTab" class="btn btn-active">Ver Menu</button>
        <button @onclick="AddProductTab" class="btn">Agregar producto</button>
        <button @onclick="AddCategoryTab" class="btn">Agregar categoria</button>
    }
    else if (tab == 2)
    {
        <button @onclick="MenuTab" class="btn">Ver Menu</button>
        <button @onclick="AddProductTab" class="btn btn-active">Agregar producto</button>
        <button @onclick="AddCategoryTab" class="btn">Agregar categoria</button>
    }
    else if (tab == 3)
    {
        <button @onclick="MenuTab" class="btn">Ver Menu</button>
        <button @onclick="AddProductTab" class="btn">Agregar producto</button>
        <button @onclick="AddCategoryTab" class="btn btn-active">Agregar categoria</button>
    }
    </div>
    <div class="main-section">
        @if (tab == 1)
        {
            <MenuCard />
        }
        else if (tab == 2)
        {
            <AddProductCard />
        }
        else if (tab == 3)
        {
            <AddCategoryCard />
        }
    </div>
    </div>
@code {
    int tab = 1;

    private void MenuTab()
    {
        tab = 1;
    }
    private void AddProductTab()
    {
        tab = 2;
    }
    private void AddCategoryTab()
    {
        tab = 3;
    }
    public string category1Name = "Hamburguesas";
    public string category2Name = "Papas";
}