.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.form input{
    padding: 0;
}
.form button {
    width: 40%;
    height: 50%;
    font-size: 1.5rem;
    color: var(--main-font-color);
    margin-top: 1rem;
    border: none;
    background: var(--purple-main);
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: var(--main-font);
}

.tittle{
    color: var(--main-font-color);
    font-family: var(--main-font);
}
.form > h3{
    height: 10%;
}

.form > button{
    height: 10%;
}

.form > div{
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form > div > div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form > div > div input, .form > div > div select{
    width: 60%;
    padding: 10px;
}


.user-box {
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-box input {
    width: 40%;
    height: 25%;
    font-size: 1rem;
    color: var(--main-font-color);
    margin-top: 1rem;
    border: none;
    background: var(--purple-light);
}

select {
    width: 40%;
    height: 2rem;
    font-size: 1rem;
    color: var(--main-font-color);
    margin-top: 1rem;
    border: none;
    border-radius: 0.5rem;
    background: var(--purple-light);
}

.user-box input::placeholder {
    color: var(--secondary-font-color);
    font-family: var(--main-font);
}