@using VertexWeb.Data.Services;
@using VertexWeb.Data.Models;

<div class="category-section">
    <h3>@CategoryName</h3>
    <div>
        @foreach (var product in CategoryProducts)
        {
            <MenuItem product="@product" />
        }
    </div>
</div>

@code {
    [Parameter]
    public string? CategoryName { get; set; }

    [Parameter]
    public List<Product> CategoryProducts { get; set; }
}